header {
    position: relative;
    .header {
        background-color: $desaturated-dark-cyan;
        img {
            width: 100%;
            height: auto;
        }
    }

    .filters {
        background-color: $white;
        padding: 20px;
        margin: 0 20px;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        border-radius: 10px;
        width: 95%;
        height: 80px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto;
        align-items: center;

        @include breakpoint-up(large) {
            width: 90%;
        }

        .element-item {
            display: flex;
            align-items: center;
        }
        
    }
}

.item {
    margin: 0 auto;
    padding: 20px;
    width: 95%;
    background-color: $white;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
    margin-top: 50px;

    &:first-of-type {
        margin-top: 100px;
    }

    @include breakpoint-up(large) {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: 20px auto;
    }

    .company {
        @include breakpoint-up(large) {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        .logo {
            position: absolute;
            top: 0;
            width: 4rem;
            transform: translateY(-50%);

            @include breakpoint-up(large) {
                position: relative;
                top: unset;
                width: unset;
                transform: unset;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .details {
            &__feature {
                padding-left: 0;
                align-items: center;
                margin-top: 0;

                &:nth-child(1) {
                    color: $desaturated-dark-cyan;
                    font-weight: 700;
                    margin-top: 20px;
                }
                li {
                    list-style-type: none;

                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }

                .new {
                    background-color: $desaturated-dark-cyan;
                    color: $white;
                    border-radius: 25px;
                    padding: 8px 10px;
                    text-transform: uppercase;
                }

                .featured {
                    text-transform: uppercase;
                    background-color: $very-dark-grayish-cyan;
                    border-radius: 25px;
                    padding: 8px 10px;
                    color: $white;
                }
            }

            &__time {
                padding-left: 0;
                color: $dark-grayish-cyan;
                position: relative;
                margin-bottom: 20px;

                @include breakpoint-up(medium) {
                    /*margin-bottom: 10px;*/
                }

                li {
                    list-style-type: none;

                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
            }

            &__time::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                bottom: -20px;
                background-color: $dark-grayish-cyan;
            }
        }
    }

    &__role {
        padding-left: 0;
        flex-wrap: wrap;
        gap: 12px;
        margin-top: 20px;
        position: relative;

        @include breakpoint-up(large) {
            margin-top: 25px;
        }

        li {
            list-style-type: none;

            button {
                background-color: $light-grayish-cyan-filter-tablets;
                color: $desaturated-dark-cyan;
                font-weight: 700;
                padding: 7px;
                border-radius: 5px;
                border: none;
                cursor: pointer;

                button:hover {
                    cursor: pointer;
                    background-color: $desaturated-dark-cyan;
                    color: $white;
                    transition: 0.2s ease-in-out;
                }
            }
        }

        
    }
}
